# Vazifa

### pandas kutubxonasini import qildik

In [1]:
import pandas as pd

### csv fayldan o'qib df o'zgaruvchiga Dataframeni yukladik

In [3]:
df = pd.read_csv("qs-world-rankings-2025.csv")

### -------------------------------------------------------------------------------------

### DataFrameni qanaqaligini ko'rish uchun uni boshidagi 5qatorini chiqarib oldim

In [102]:
df.head()

,2025 Rank,2024 Rank,Institution Name,Location,Location Full,Size,Academic Reputation,Employer Reputation,Faculty Student,Citations per Faculty,International Faculty,International Students,International Research Network,Employment Outcomes,Sustainability,QS Overall Score
0,1,1,Massachusetts Institute of Technology (MIT),US,United States,M,100.0,100.0,100.0,100.0,99.3,86.8,96.0,100.0,99.0,100
1,2,6,Imperial College London,UK,United Kingdom,L,98.5,99.5,98.2,93.9,100.0,99.6,97.4,93.4,99.7,98.5
2,3,3,University of Oxford,UK,United Kingdom,L,100.0,100.0,100.0,84.8,98.1,97.7,100.0,100.0,85.0,96.9
3,4,4,Harvard University,US,United States,L,100.0,100.0,96.3,100.0,74.1,69.0,99.6,100.0,84.4,96.8
4,5,2,University of Cambridge,UK,United Kingdom,L,100.0,100.0,100.0,84.6,100.0,94.8,99.3,100.0,84.8,96.7

### -------------------------------------------------------------------------------------

#### Quyidagi kod DataFrame ustunlari nomlarini ko'rsatadi

In [5]:
df.columns

Index(['2025 Rank', '2024 Rank', 'Institution Name', 'Location',
       'Location Full', 'Size', 'Academic Reputation', 'Employer Reputation',
       'Faculty Student', 'Citations per Faculty', 'International Faculty',
       'International Students', 'International Research Network',
       'Employment Outcomes', 'Sustainability', 'QS Overall Score'],
      dtype='object')

### -------------------------------------------------------------------------------------

### Bu kodda esa indexlarni ko'rishimiz mumkin ya'ni start nechidan boshlangan stop nechchigacha, va step ya'ni qadam 1tadanmi yoki 2tadanmi bizda step=1.

In [6]:
df.index

RangeIndex(start=0, stop=1503, step=1)

### -------------------------------------------------------------------------------------

### Quyidagi kodda set_index() orqali universitetlarning nomini index sifatida ornatildi endi bu universitetlarning nomi DataFramedan olib tashlab yangi data frame yaratiladi.

In [18]:
ranking_ind = df.set_index("Institution Name")
ranking_ind.head()

,2025 Rank,2024 Rank,Location,Location Full,Size,Academic Reputation,Employer Reputation,Faculty Student,Citations per Faculty,International Faculty,International Students,International Research Network,Employment Outcomes,Sustainability,QS Overall Score
Institution Name,,,,,,,,,,,,,,,
Massachusetts Institute of Technology (MIT),1,1,US,United States,M,100.0,100.0,100.0,100.0,99.3,86.8,96.0,100.0,99.0,100
Imperial College London,2,6,UK,United Kingdom,L,98.5,99.5,98.2,93.9,100.0,99.6,97.4,93.4,99.7,98.5
University of Oxford,3,3,UK,United Kingdom,L,100.0,100.0,100.0,84.8,98.1,97.7,100.0,100.0,85.0,96.9
Harvard University,4,4,US,United States,L,100.0,100.0,96.3,100.0,74.1,69.0,99.6,100.0,84.4,96.8
University of Cambridge,5,2,UK,United Kingdom,L,100.0,100.0,100.0,84.6,100.0,94.8,99.3,100.0,84.8,96.7

### -------------------------------------------------------------------------------------

### tepada biz Universitetlarning nomini index sifatida saqlagan edik endi quyidagi kodda orqaga qaytardik ya'ni univerlarning nomi endi index emas balki column sifatida dataframega qo'shildi

In [15]:
ranking_ind.reset_index().head()

,Institution Name,2025 Rank,2024 Rank,Location,Location Full,Size,Academic Reputation,Employer Reputation,Faculty Student,Citations per Faculty,International Faculty,International Students,International Research Network,Employment Outcomes,Sustainability,QS Overall Score
0,Massachusetts Institute of Technology (MIT),1,1,US,United States,M,100.0,100.0,100.0,100.0,99.3,86.8,96.0,100.0,99.0,100
1,Imperial College London,2,6,UK,United Kingdom,L,98.5,99.5,98.2,93.9,100.0,99.6,97.4,93.4,99.7,98.5
2,University of Oxford,3,3,UK,United Kingdom,L,100.0,100.0,100.0,84.8,98.1,97.7,100.0,100.0,85.0,96.9
3,Harvard University,4,4,US,United States,L,100.0,100.0,96.3,100.0,74.1,69.0,99.6,100.0,84.4,96.8
4,University of Cambridge,5,2,UK,United Kingdom,L,100.0,100.0,100.0,84.6,100.0,94.8,99.3,100.0,84.8,96.7

### -------------------------------------------------------------------------------------

### Endi quyidagi kodda yuqoridagi kod kabi orqaga qaytarilmaydiyu balki drop qilinida ochirib tashlanadi universitetlarning nomi va index 0dan boshlab hisoblanadi, tableda korishimiz mumkin Universitetlarning nomi DataFrameda mabjud emas.

In [16]:
ranking_ind.reset_index(drop=True).head()

,2025 Rank,2024 Rank,Location,Location Full,Size,Academic Reputation,Employer Reputation,Faculty Student,Citations per Faculty,International Faculty,International Students,International Research Network,Employment Outcomes,Sustainability,QS Overall Score
0,1,1,US,United States,M,100.0,100.0,100.0,100.0,99.3,86.8,96.0,100.0,99.0,100
1,2,6,UK,United Kingdom,L,98.5,99.5,98.2,93.9,100.0,99.6,97.4,93.4,99.7,98.5
2,3,3,UK,United Kingdom,L,100.0,100.0,100.0,84.8,98.1,97.7,100.0,100.0,85.0,96.9
3,4,4,US,United States,L,100.0,100.0,96.3,100.0,74.1,69.0,99.6,100.0,84.4,96.8
4,5,2,UK,United Kingdom,L,100.0,100.0,100.0,84.6,100.0,94.8,99.3,100.0,84.8,96.7

### -------------------------------------------------------------------------------------

### Quyidagi kodda DataFrame da "Location Full" columnda "Uzbekistan" yoki "Kazakhstan" qiymatlari bor qatorlarni tanlab ulardan iborat yangi DataFrame yaratadi ya'ni faqatgina O'zbekiston va Qozoqston universitetlari chiqadi

In [103]:
df[df["Location Full"].isin(["Uzbekistan", "Kazakhstan"])]

,2025 Rank,2024 Rank,Institution Name,Location,Location Full,Size,Academic Reputation,Employer Reputation,Faculty Student,Citations per Faculty,International Faculty,International Students,International Research Network,Employment Outcomes,Sustainability,QS Overall Score
162,163,230,Al-Farabi Kazakh National University,KZ,Kazakhstan,L,54.2,79.6,99.3,1.4,49.0,54.2,64.7,59.6,29.8,51
320,321,355,L.N. Gumilyov Eurasian National University (ENU),KZ,Kazakhstan,L,34.4,62.0,92.6,1.4,68.7,8.2,22.8,5.5,10.5,34.2
405,405,481,Satbayev University,KZ,Kazakhstan,M,27.8,43.4,88.1,1.2,66.7,16.9,15.0,23.6,3.8,29.3
547,547,NaN,Tashkent Institute of Irrigation and Agricultu...,UZ,Uzbekistan,M,30.6,19.9,79.0,2.2,26.3,4.1,8.6,15.1,9.5,22.6
623,621-630,611-620,Auezov South Kazakhstan University (SKU),KZ,Kazakhstan,L,18.5,28.7,89.5,1.0,12.9,16.2,4.0,3.2,2.6,-
674,671-680,681-690,Abai Kazakh National Pedagogical University,KZ,Kazakhstan,L,26.5,22.8,53.8,1.1,37.8,3.7,4.1,12.6,1.7,-
677,671-680,641-650,Kazakh National Agrarian University KazNAU,KZ,Kazakhstan,M,19.9,16.4,85.2,1.1,19.6,22.6,6.5,3.3,2.7,-
783,781-790,NaN,National University of Uzbekistan,UZ,Uzbekistan,L,25.5,15.8,5.2,1.3,89.0,2.5,11.8,20.4,1.4,-
815,801-850,781-790,Khoja Akhmet Yassawi International Kazakh-Turk...,KZ,Kazakhstan,M,16.7,27.9,44.6,1.2,7.1,16.3,3.2,7.7,1.5,-
864,851-900,801-850,Karaganda State Technical University,KZ,Kazakhstan,M,9.7,7.7,84.6,1.1,10.0,18.8,2.4,5.8,1.2,-
911,901-950,851-900,Karaganda Buketov University,KZ,Kazakhstan,L,15.6,24.5,41.3,1.1,13.1,5.2,7.5,7.8,1.0,-
952,951-1000,801-850,Almaty Technological University,KZ,Kazakhstan,M,6.2,4.2,88.1,1.0,25.0,4.8,2.9,3.3,1.1,-
959,951-1000,901-950,D. Serikbayev East Kazakhstan state technical ...,KZ,Kazakhstan,M,13.0,7.7,64.2,1.2,14.4,2.5,2.4,3.5,1.3,-
976,951-1000,901-950,S.D. Asfendiyarov Kazakh National Medical Univ...,KZ,Kazakhstan,M,6.7,4.2,59.7,1.1,10.4,64.7,3.9,3.4,1.1,-
1050,1001-1200,1001-1200,Kazakh-British Technical University,KZ,Kazakhstan,M,14.4,28.2,16.1,1.5,6.0,2.5,13.8,3.4,1.2,-
1066,1001-1200,1201-1400,Narxoz University,KZ,Kazakhstan,M,9.6,7.5,12.9,1.3,14.9,6.2,1.0,60.3,1.4,-
1070,1001-1200,951-1000,NJSC KIMEP University,KZ,Kazakhstan,S,5.9,14.3,13.8,4.0,75.6,15.7,2.5,27.6,1.0,-
1248,1201-1400,1001-1200,Kazakh Ablai Khan University of International ...,KZ,Kazakhstan,M,7.7,9.0,40.4,1.0,6.6,4.1,1.0,3.4,NaN,-
1284,1201-1400,1201-1400,Saken Seifullin Kazakh Agrotechnical University,KZ,Kazakhstan,M,9.7,9.3,27.8,1.2,10.1,4.2,2.6,3.4,2.0,-
1296,1201-1400,1201-1400,"Suleyman Demirel University, Kazakhstan",KZ,Kazakhstan,M,9.0,11.0,4.1,1.3,6.2,2.0,5.7,3.3,NaN,-
1310,1201-1400,1201-1400,Toraighyrov University,KZ,Kazakhstan,M,8.5,4.8,17.8,1.2,6.8,3.1,3.9,3.3,1.0,-
1415,1401+,1201-1400,Korkyt Ata Kyzylorda University,KZ,Kazakhstan,M,7.0,7.9,5.7,1.0,3.4,1.2,1.0,3.3,1.1,-
1418,1401+,1201-1400,M.Kh. Dulaty Taraz Regional University,KZ,Kazakhstan,L,7.6,2.7,12.0,1.0,1.1,6.7,2.6,3.1,1.1,-

### -------------------------------------------------------------------------------------

### Quyidagi kodda Universitetlarning qayerda joylashganini korsatuvchi columni index sifatida ozgaruvchiga olib oldik pastroqda ishlatish uchun.

In [27]:
location_ind = df.set_index("Location Full")
location_ind.head()

,2025 Rank,2024 Rank,Institution Name,Location,Size,Academic Reputation,Employer Reputation,Faculty Student,Citations per Faculty,International Faculty,International Students,International Research Network,Employment Outcomes,Sustainability,QS Overall Score
Location Full,,,,,,,,,,,,,,,
United States,1,1,Massachusetts Institute of Technology (MIT),US,M,100.0,100.0,100.0,100.0,99.3,86.8,96.0,100.0,99.0,100
United Kingdom,2,6,Imperial College London,UK,L,98.5,99.5,98.2,93.9,100.0,99.6,97.4,93.4,99.7,98.5
United Kingdom,3,3,University of Oxford,UK,L,100.0,100.0,100.0,84.8,98.1,97.7,100.0,100.0,85.0,96.9
United States,4,4,Harvard University,US,L,100.0,100.0,96.3,100.0,74.1,69.0,99.6,100.0,84.4,96.8
United Kingdom,5,2,University of Cambridge,UK,L,100.0,100.0,100.0,84.6,100.0,94.8,99.3,100.0,84.8,96.7

### -------------------------------------------------------------------------------------

### Bu kodda Location Full bizda index va indexlarimi orasida Uzbekistan qiymati bor bolsa ularni chiqaradi

In [28]:
location_ind.loc[["Uzbekistan"]]

,2025 Rank,2024 Rank,Institution Name,Location,Size,Academic Reputation,Employer Reputation,Faculty Student,Citations per Faculty,International Faculty,International Students,International Research Network,Employment Outcomes,Sustainability,QS Overall Score
Location Full,,,,,,,,,,,,,,,
Uzbekistan,547,NaN,Tashkent Institute of Irrigation and Agricultu...,UZ,M,30.6,19.9,79.0,2.2,26.3,4.1,8.6,15.1,9.5,22.6
Uzbekistan,781-790,NaN,National University of Uzbekistan,UZ,L,25.5,15.8,5.2,1.3,89.0,2.5,11.8,20.4,1.4,-

### -------------------------------------------------------------------------------------

### "Location Full" va "Institution Name" ustunlari birga indeks bolib yaratildi DataFrame da har bir qator unik yagona (Location Full, Institution Name) juftligiga ega bo'ladi

In [104]:
name_loc_ind = df.set_index(["Location Full", "Institution Name"])
name_loc_ind

                                                            2025 Rank  \
Location Full  Institution Name
United States  Massachusetts Institute of Technology (MIT)          1
United Kingdom Imperial College London                              2
               University of Oxford                                 3
United States  Harvard University                                   4
United Kingdom University of Cambridge                              5
...                                                               ...
United States  University of Montana Missoula                   1401+
Romania        University of Oradea                             1401+
Philippines    University of San Carlos                         1401+
Romania        University Politehnica of Timisoara, UPT         1401+
United States  Western Washington University                    1401+

                                                             2024 Rank  \
Location Full  Institution Name
United States  Massachusetts Institute of Technology (MIT)           1
United Kingdom Imperial College London                               6
               University of Oxford                                  3
United States  Harvard University                                    4
United Kingdom University of Cambridge                               2
...                                                                ...
United States  University of Montana Missoula                1201-1400
Romania        University of Oradea                              1401+
Philippines    University of San Carlos                      1201-1400
Romania        University Politehnica of Timisoara, UPT          1401+
United States  Western Washington University                     1401+

                                                            Location Size  \
Location Full  Institution Name
United States  Massachusetts Institute of Technology (MIT)        US    M
United Kingdom Imperial College London                            UK    L
               University of Oxford                               UK    L
United States  Harvard University                                 US    L
United Kingdom University of Cambridge                            UK    L
...                                                              ...  ...
United States  University of Montana Missoula                     US    M
Romania        University of Oradea                               RO    L
Philippines    University of San Carlos                           PH    M
Romania        University Politehnica of Timisoara, UPT           RO    L
United States  Western Washington University                      US    L

                                                             Academic Reputation  \
Location Full  Institution Name
United States  Massachusetts Institute of Technology (MIT)                 100.0
United Kingdom Imperial College London                                      98.5
               University of Oxford                                        100.0
United States  Harvard University                                          100.0
United Kingdom University of Cambridge                                     100.0
...                                                                          ...
United States  University of Montana Missoula                                3.0
Romania        University of Oradea                                          5.6
Philippines    University of San Carlos                                      7.2
Romania        University Politehnica of Timisoara, UPT                      4.1
United States  Western Washington University                                 2.6

                                                             Employer Reputation  \
Location Full  Institution Name
United States  Massachusetts Institute of Technology (MIT)                 100.0
United Kingdom Imperial College London                                      99.5
               University of Oxford                                        100.0
United States  Harvard University                                          100.0
United Kingdom University of Cambridge                                     100.0
...                                                                          ...
United States  University of Montana Missoula                                2.2
Romania        University of Oradea                                          2.2
Philippines    University of San Carlos                                      9.4
Romania        University Politehnica of Timisoara, UPT                      4.2
United States  Western Washington University                                 2.6

                                                             Faculty Student  \
Location Full  Institution Name
United States  Massachusetts Institute of Technology (MIT)             100.0
United Kingdom Imperial College London                                  98.2
               University of Oxford                                    100.0
United States  Harvard University                                       96.3
United Kingdom University of Cambridge                                 100.0
...                                                                      ...
United States  University of Montana Missoula                           10.6
Romania        University of Oradea                                      4.0
Philippines    University of San Carlos                                  3.3
Romania        University Politehnica of Timisoara, UPT                  7.2
United States  Western Washington University                             7.3

                                                             Citations per Faculty  \
Location Full  Institution Name
United States  Massachusetts Institute of Technology (MIT)                   100.0
United Kingdom Imperial College London                                        93.9
               University of Oxford                                           84.8
United States  Harvard University                                            100.0
United Kingdom University of Cambridge                                        84.6
...                                                                            ...
United States  University of Montana Missoula                                  6.1
Romania        University of Oradea                                            1.9
Philippines    University of San Carlos                                        1.8
Romania        University Politehnica of Timisoara, UPT                        3.9
United States  Western Washington University                                   3.5

                                                             International Faculty  \
Location Full  Institution Name
United States  Massachusetts Institute of Technology (MIT)                    99.3
United Kingdom Imperial College London                                       100.0
               University of Oxford                                           98.1
United States  Harvard University                                             74.1
United Kingdom University of Cambridge                                       100.0
...                                                                            ...
United States  University of Montana Missoula                                  1.3
Romania        University of Oradea                                            1.5
Philippines    University of San Carlos                                        2.1
Romania        University Politehnica of Timisoara, UPT                        1.4
United States  Western Washington University                                   9.7

                                                             International Students  \
Location Full  Institution Name
United States  Massachusetts Institute of Technology (MIT)                     86.8
United Kingdom Imperial College London                                         99.6
               University of Oxford                                            97.7
United States  Harvard University                                              69.0
United Kingdom University of Cambridge                                         94.8
...                                                                             ...
United States  University of Montana Missoula                                   1.9
Romania        University of Oradea                                             5.2
Philippines    University of San Carlos                                         2.1
Romania        University Politehnica of Timisoara, UPT                         2.5
United States  Western Washington University                                    1.6

                                                             International Research Network  \
Location Full  Institution Name
United States  Massachusetts Institute of Technology (MIT)                             96.0
United Kingdom Imperial College London                                                 97.4
               University of Oxford                                                   100.0
United States  Harvard University                                                      99.6
United Kingdom University of Cambridge                                                 99.3
...                                                                                     ...
United States  University of Montana Missoula                                           6.5
Romania        University of Oradea                                                    34.5
Philippines    University of San Carlos                                                 6.4
Romania        University Politehnica of Timisoara, UPT                                18.6
United States  Western Washington University                                           12.4

                                                             Employment Outcomes  \
Location Full  Institution Name
United States  Massachusetts Institute of Technology (MIT)                 100.0
United Kingdom Imperial College London                                      93.4
               University of Oxford                                        100.0
United States  Harvard University                                          100.0
United Kingdom University of Cambridge                                     100.0
...                                                                          ...
United States  University of Montana Missoula                                3.1
Romania        University of Oradea                                          6.2
Philippines    University of San Carlos                                      9.6
Romania        University Politehnica of Timisoara, UPT                      3.9
United States  Western Washington University                                 1.5

                                                             Sustainability  \
Location Full  Institution Name
United States  Massachusetts Institute of Technology (MIT)             99.0
United Kingdom Imperial College London                                 99.7
               University of Oxford                                    85.0
United States  Harvard University                                      84.4
United Kingdom University of Cambridge                                 84.8
...                                                                     ...
United States  University of Montana Missoula                           1.0
Romania        University of Oradea                                     2.3
Philippines    University of San Carlos                                 1.0
Romania        University Politehnica of Timisoara, UPT                 1.1
United States  Western Washington University                            1.1

                                                            QS Overall Score
Location Full  Institution Name
United States  Massachusetts Institute of Technology (MIT)               100
United Kingdom Imperial College London                                  98.5
               University of Oxford                                     96.9
United States  Harvard University                                       96.8
United Kingdom University of Cambridge                                  96.7
...                                                                      ...
United States  University of Montana Missoula                              -
Romania        University of Oradea                                        -
Philippines    University of San Carlos                                    -
Romania        University Politehnica of Timisoara, UPT                    -
United States  Western Washington University                               -

[1503 rows x 14 columns]

### -------------------------------------------------------------------------------------

### Bu kodda loc indeks orqali ma'lum bir indeks qiymatlarini tanlab olish uchun ishlatiladi va "Uzbekistan" va "United States" qiymatiga ega bo'lgan barchasi chiqadi

In [45]:
name_loc_ind.loc[["Uzbekistan", "United States"]]

                                                                 2025 Rank  \
Location Full Institution Name
Uzbekistan    Tashkent Institute of Irrigation and Agricultur...       547
              National University of Uzbekistan                    781-790
United States Massachusetts Institute of Technology (MIT)                1
              Harvard University                                         4
              Stanford University                                        6
...                                                                    ...
              Indiana State University                               1401+
              Nova Southeastern University                           1401+
              University of Central Oklahoma                         1401+
              University of Montana Missoula                         1401+
              Western Washington University                          1401+

                                                                  2024 Rank  \
Location Full Institution Name
Uzbekistan    Tashkent Institute of Irrigation and Agricultur...        NaN
              National University of Uzbekistan                         NaN
United States Massachusetts Institute of Technology (MIT)                 1
              Harvard University                                          4
              Stanford University                                         5
...                                                                     ...
              Indiana State University                            1201-1400
              Nova Southeastern University                        1201-1400
              University of Central Oklahoma                      1201-1400
              University of Montana Missoula                      1201-1400
              Western Washington University                           1401+

                                                                 Location  \
Location Full Institution Name
Uzbekistan    Tashkent Institute of Irrigation and Agricultur...       UZ
              National University of Uzbekistan                        UZ
United States Massachusetts Institute of Technology (MIT)              US
              Harvard University                                       US
              Stanford University                                      US
...                                                                   ...
              Indiana State University                                 US
              Nova Southeastern University                             US
              University of Central Oklahoma                           US
              University of Montana Missoula                           US
              Western Washington University                            US

                                                                 Size  \
Location Full Institution Name
Uzbekistan    Tashkent Institute of Irrigation and Agricultur...    M
              National University of Uzbekistan                     L
United States Massachusetts Institute of Technology (MIT)           M
              Harvard University                                    L
              Stanford University                                   L
...                                                               ...
              Indiana State University                              M
              Nova Southeastern University                          L
              University of Central Oklahoma                        L
              University of Montana Missoula                        M
              Western Washington University                         L

                                                                  Academic Reputation  \
Location Full Institution Name
Uzbekistan    Tashkent Institute of Irrigation and Agricultur...                 30.6
              National University of Uzbekistan                                  25.5
United States Massachusetts Institute of Technology (MIT)                       100.0
              Harvard University                                                100.0
              Stanford University                                               100.0
...                                                                               ...
              Indiana State University                                            6.2
              Nova Southeastern University                                        2.7
              University of Central Oklahoma                                      5.6
              University of Montana Missoula                                      3.0
              Western Washington University                                       2.6

                                                                  Employer Reputation  \
Location Full Institution Name
Uzbekistan    Tashkent Institute of Irrigation and Agricultur...                 19.9
              National University of Uzbekistan                                  15.8
United States Massachusetts Institute of Technology (MIT)                       100.0
              Harvard University                                                100.0
              Stanford University                                               100.0
...                                                                               ...
              Indiana State University                                            4.4
              Nova Southeastern University                                        3.5
              University of Central Oklahoma                                      2.9
              University of Montana Missoula                                      2.2
              Western Washington University                                       2.6

                                                                  Faculty Student  \
Location Full Institution Name
Uzbekistan    Tashkent Institute of Irrigation and Agricultur...             79.0
              National University of Uzbekistan                               5.2
United States Massachusetts Institute of Technology (MIT)                   100.0
              Harvard University                                             96.3
              Stanford University                                           100.0
...                                                                           ...
              Indiana State University                                        8.5
              Nova Southeastern University                                   11.6
              University of Central Oklahoma                                  6.5
              University of Montana Missoula                                 10.6
              Western Washington University                                   7.3

                                                                  Citations per Faculty  \
Location Full Institution Name
Uzbekistan    Tashkent Institute of Irrigation and Agricultur...                    2.2
              National University of Uzbekistan                                     1.3
United States Massachusetts Institute of Technology (MIT)                         100.0
              Harvard University                                                  100.0
              Stanford University                                                  99.0
...                                                                                 ...
              Indiana State University                                              3.0
              Nova Southeastern University                                          2.8
              University of Central Oklahoma                                        1.5
              University of Montana Missoula                                        6.1
              Western Washington University                                         3.5

                                                                  International Faculty  \
Location Full Institution Name
Uzbekistan    Tashkent Institute of Irrigation and Agricultur...                   26.3
              National University of Uzbekistan                                    89.0
United States Massachusetts Institute of Technology (MIT)                          99.3
              Harvard University                                                   74.1
              Stanford University                                                  70.3
...                                                                                 ...
              Indiana State University                                              1.7
              Nova Southeastern University                                          4.7
              University of Central Oklahoma                                       15.9
              University of Montana Missoula                                        1.3
              Western Washington University                                         9.7

                                                                  International Students  \
Location Full Institution Name
Uzbekistan    Tashkent Institute of Irrigation and Agricultur...                     4.1
              National University of Uzbekistan                                      2.5
United States Massachusetts Institute of Technology (MIT)                           86.8
              Harvard University                                                    69.0
              Stanford University                                                   60.8
...                                                                                  ...
              Indiana State University                                               2.2
              Nova Southeastern University                                           3.9
              University of Central Oklahoma                                         9.9
              University of Montana Missoula                                         1.9
              Western Washington University                                          1.6

                                                                  International Research Network  \
Location Full Institution Name
Uzbekistan    Tashkent Institute of Irrigation and Agricultur...                             8.6
              National University of Uzbekistan                                             11.8
United States Massachusetts Institute of Technology (MIT)                                   96.0
              Harvard University                                                            99.6
              Stanford University                                                           96.8
...                                                                                          ...
              Indiana State University                                                       4.2
              Nova Southeastern University                                                  13.2
              University of Central Oklahoma                                                 5.2
              University of Montana Missoula                                                 6.5
              Western Washington University                                                 12.4

                                                                  Employment Outcomes  \
Location Full Institution Name
Uzbekistan    Tashkent Institute of Irrigation and Agricultur...                 15.1
              National University of Uzbekistan                                  20.4
United States Massachusetts Institute of Technology (MIT)                       100.0
              Harvard University                                                100.0
              Stanford University                                               100.0
...                                                                               ...
              Indiana State University                                            6.8
              Nova Southeastern University                                        8.9
              University of Central Oklahoma                                      2.9
              University of Montana Missoula                                      3.1
              Western Washington University                                       1.5

                                                                  Sustainability  \
Location Full Institution Name
Uzbekistan    Tashkent Institute of Irrigation and Agricultur...             9.5
              National University of Uzbekistan                              1.4
United States Massachusetts Institute of Technology (MIT)                   99.0
              Harvard University                                            84.4
              Stanford University                                           81.2
...                                                                          ...
              Indiana State University                                       1.0
              Nova Southeastern University                                   1.2
              University of Central Oklahoma                                 1.0
              University of Montana Missoula                                 1.0
              Western Washington University                                  1.1

                                                                 QS Overall Score
Location Full Institution Name
Uzbekistan    Tashkent Institute of Irrigation and Agricultur...             22.6
              National University of Uzbekistan                                 -
United States Massachusetts Institute of Technology (MIT)                     100
              Harvard University                                             96.8
              Stanford University                                            96.1
...                                                                           ...
              Indiana State University                                          -
              Nova Southeastern University                                      -
              University of Central Oklahoma                                    -
              University of Montana Missoula                                    -
              Western Washington University                                     -

[199 rows x 14 columns]

### -------------------------------------------------------------------------------------

### Bu kodda loc indeks orqali ma'lum bir indeks qiymatlarni tanlab olish uchun ishlatiladi. Natijada ("Uzbekistan", "L") va ("Turkey", "M") kombinatsiyalariga ega bo'lgan barcha qatorlar chiqadi

In [47]:
name_size_ind = df.set_index(["Location Full", "Size"])
name_size_ind.loc[[("Uzbekistan", "L"), ("Turkey", "M")]]

                    2025 Rank  2024 Rank  \
Location Full Size
Uzbekistan    L       781-790        NaN
Turkey        M           401        431
              M           477        502
              M     1001-1200  1201-1400
              M     1201-1400  1201-1400
              M     1201-1400  1201-1400

                                          Institution Name Location  \
Location Full Size
Uzbekistan    L          National University of Uzbekistan       UZ
Turkey        M                             Koç University       TR
              M                         Bilkent University       TR
              M           Gebze Technical University (GTU)       TR
              M                Istanbul Bilgi Üniversitesi       TR
              M     Izmir Institute of Technology (IZTECH)       TR

                    Academic Reputation  Employer Reputation  Faculty Student  \
Location Full Size
Uzbekistan    L                    25.5                 15.8              5.2
Turkey        M                    24.3                 54.6             19.1
              M                    24.0                 52.1             13.3
              M                     4.5                  3.4              7.8
              M                     4.9                  4.3             13.3
              M                     7.2                  4.4              5.8

                    Citations per Faculty  International Faculty  \
Location Full Size
Uzbekistan    L                       1.3                   89.0
Turkey        M                      32.4                   24.7
              M                      15.2                   61.4
              M                      18.5                    6.2
              M                       1.7                    3.5
              M                       8.2                    3.2

                    International Students  International Research Network  \
Location Full Size
Uzbekistan    L                        2.5                            11.8
Turkey        M                       13.0                            51.6
              M                        3.7                            38.3
              M                        3.8                            37.3
              M                       20.2                             6.5
              M                        2.1                            15.5

                    Employment Outcomes  Sustainability QS Overall Score
Location Full Size
Uzbekistan    L                    20.4             1.4                -
Turkey        M                     6.8            34.8             29.6
              M                    19.3            10.6             25.1
              M                     2.3             3.8                -
              M                    13.3             2.2                -
              M                     2.1             1.6                -

### -------------------------------------------------------------------------------------

### Location va  Universitetlarning nomi saqlab turgan ozgaruvchichi sortlavordik bu avval locationni indexni sortlaydi keyin esa Institution name index boyicha sortlaydi , masalan A birinchi bolgani uchun Argentina chiqdi va Argentinada mavjud Universitetlar Location barchasi sortlangandan keyin , Institution name lar sortlandi ya'ni Argentinadagi Universitetlar nomi sortlandi.

In [48]:
name_loc_ind.sort_index()

                                                                  2025 Rank  \
Location Full Institution Name
Argentina     Católica de Córdoba                                     1401+
              Instituto Tecnológico de Buenos Aires (ITBA)         951-1000
              Pontificia Universidad Católica Argentina                 481
              Universidad Austral                                       524
              Universidad Nacional de Cuyo                        1001-1200
...                                                                     ...
Vietnam       Hanoi University of Science and Technology          1201-1400
              Hue University                                      1201-1400
              Ton Duc Thang University                              711-720
              Viet Nam National University Ho Chi Minh City (...    901-950
              Vietnam National University, Hanoi                    851-900

                                                                  2024 Rank  \
Location Full Institution Name
Argentina     Católica de Córdoba                                 1201-1400
              Instituto Tecnológico de Buenos Aires (ITBA)          791-800
              Pontificia Universidad Católica Argentina                 514
              Universidad Austral                                       520
              Universidad Nacional de Cuyo                        1001-1200
...                                                                     ...
Vietnam       Hanoi University of Science and Technology          1201-1400
              Hue University                                            NaN
              Ton Duc Thang University                              721-730
              Viet Nam National University Ho Chi Minh City (...   951-1000
              Vietnam National University, Hanoi                   951-1000

                                                                 Location  \
Location Full Institution Name
Argentina     Católica de Córdoba                                      AR
              Instituto Tecnológico de Buenos Aires (ITBA)             AR
              Pontificia Universidad Católica Argentina                AR
              Universidad Austral                                      AR
              Universidad Nacional de Cuyo                             AR
...                                                                   ...
Vietnam       Hanoi University of Science and Technology               VN
              Hue University                                           VN
              Ton Duc Thang University                                 VN
              Viet Nam National University Ho Chi Minh City (...       VN
              Vietnam National University, Hanoi                       VN

                                                                 Size  \
Location Full Institution Name
Argentina     Católica de Córdoba                                   M
              Instituto Tecnológico de Buenos Aires (ITBA)          S
              Pontificia Universidad Católica Argentina             L
              Universidad Austral                                   M
              Universidad Nacional de Cuyo                         XL
...                                                               ...
Vietnam       Hanoi University of Science and Technology           XL
              Hue University                                       XL
              Ton Duc Thang University                              L
              Viet Nam National University Ho Chi Minh City (...   XL
              Vietnam National University, Hanoi                   XL

                                                                  Academic Reputation  \
Location Full Institution Name
Argentina     Católica de Córdoba                                                 5.3
              Instituto Tecnológico de Buenos Aires (ITBA)                        8.8
              Pontificia Universidad Católica Argentina                          19.9
              Universidad Austral                                                20.9
              Universidad Nacional de Cuyo                                       12.9
...                                                                               ...
Vietnam       Hanoi University of Science and Technology                          7.3
              Hue University                                                      4.6
              Ton Duc Thang University                                            5.0
              Viet Nam National University Ho Chi Minh City (...                 18.8
              Vietnam National University, Hanoi                                 15.3

                                                                  Employer Reputation  \
Location Full Institution Name
Argentina     Católica de Córdoba                                                 2.6
              Instituto Tecnológico de Buenos Aires (ITBA)                       24.6
              Pontificia Universidad Católica Argentina                          29.4
              Universidad Austral                                                36.2
              Universidad Nacional de Cuyo                                        6.1
...                                                                               ...
Vietnam       Hanoi University of Science and Technology                          7.3
              Hue University                                                     12.9
              Ton Duc Thang University                                            6.4
              Viet Nam National University Ho Chi Minh City (...                 24.6
              Vietnam National University, Hanoi                                 18.7

                                                                  Faculty Student  \
Location Full Institution Name
Argentina     Católica de Córdoba                                            17.1
              Instituto Tecnológico de Buenos Aires (ITBA)                   39.0
              Pontificia Universidad Católica Argentina                      99.9
              Universidad Austral                                            79.7
              Universidad Nacional de Cuyo                                   23.0
...                                                                           ...
Vietnam       Hanoi University of Science and Technology                      2.4
              Hue University                                                  3.0
              Ton Duc Thang University                                        5.2
              Viet Nam National University Ho Chi Minh City (...              5.7
              Vietnam National University, Hanoi                              7.6

                                                                  Citations per Faculty  \
Location Full Institution Name
Argentina     Católica de Córdoba                                                   1.1
              Instituto Tecnológico de Buenos Aires (ITBA)                          1.3
              Pontificia Universidad Católica Argentina                             1.1
              Universidad Austral                                                   1.9
              Universidad Nacional de Cuyo                                          1.6
...                                                                                 ...
Vietnam       Hanoi University of Science and Technology                            4.7
              Hue University                                                        1.6
              Ton Duc Thang University                                             51.7
              Viet Nam National University Ho Chi Minh City (...                    2.1
              Vietnam National University, Hanoi                                    2.4

                                                                  International Faculty  \
Location Full Institution Name
Argentina     Católica de Córdoba                                                   3.6
              Instituto Tecnológico de Buenos Aires (ITBA)                         17.3
              Pontificia Universidad Católica Argentina                             1.9
              Universidad Austral                                                   2.7
              Universidad Nacional de Cuyo                                          1.8
...                                                                                 ...
Vietnam       Hanoi University of Science and Technology                            4.2
              Hue University                                                        4.8
              Ton Duc Thang University                                              9.9
              Viet Nam National University Ho Chi Minh City (...                    4.2
              Vietnam National University, Hanoi                                    5.5

                                                                  International Students  \
Location Full Institution Name
Argentina     Católica de Córdoba                                                    3.6
              Instituto Tecnológico de Buenos Aires (ITBA)                          12.3
              Pontificia Universidad Católica Argentina                              6.7
              Universidad Austral                                                    7.5
              Universidad Nacional de Cuyo                                          13.9
...                                                                                  ...
Vietnam       Hanoi University of Science and Technology                             1.2
              Hue University                                                         1.4
              Ton Duc Thang University                                               1.4
              Viet Nam National University Ho Chi Minh City (...                     1.1
              Vietnam National University, Hanoi                                     1.2

                                                                  International Research Network  \
Location Full Institution Name
Argentina     Católica de Córdoba                                                            2.3
              Instituto Tecnológico de Buenos Aires (ITBA)                                   2.7
              Pontificia Universidad Católica Argentina                                     12.5
              Universidad Austral                                                           10.2
              Universidad Nacional de Cuyo                                                  27.4
...                                                                                          ...
Vietnam       Hanoi University of Science and Technology                                    23.1
              Hue University                                                                41.6
              Ton Duc Thang University                                                      90.7
              Viet Nam National University Ho Chi Minh City (...                            45.7
              Vietnam National University, Hanoi                                            61.0

                                                                  Employment Outcomes  \
Location Full Institution Name
Argentina     Católica de Córdoba                                                 4.6
              Instituto Tecnológico de Buenos Aires (ITBA)                       22.3
              Pontificia Universidad Católica Argentina                          85.7
              Universidad Austral                                                65.9
              Universidad Nacional de Cuyo                                       10.3
...                                                                               ...
Vietnam       Hanoi University of Science and Technology                         23.1
              Hue University                                                      4.5
              Ton Duc Thang University                                            4.7
              Viet Nam National University Ho Chi Minh City (...                 24.9
              Vietnam National University, Hanoi                                 60.1

                                                                  Sustainability  \
Location Full Institution Name
Argentina     Católica de Córdoba                                            1.0
              Instituto Tecnológico de Buenos Aires (ITBA)                   NaN
              Pontificia Universidad Católica Argentina                      1.0
              Universidad Austral                                            1.3
              Universidad Nacional de Cuyo                                   8.4
...                                                                          ...
Vietnam       Hanoi University of Science and Technology                     3.4
              Hue University                                                 1.1
              Ton Duc Thang University                                       3.8
              Viet Nam National University Ho Chi Minh City (...             4.6
              Vietnam National University, Hanoi                             6.4

                                                                 QS Overall Score
Location Full Institution Name
Argentina     Católica de Córdoba                                               -
              Instituto Tecnológico de Buenos Aires (ITBA)                      -
              Pontificia Universidad Católica Argentina                        25
              Universidad Austral                                            23.4
              Universidad Nacional de Cuyo                                      -
...                                                                           ...
Vietnam       Hanoi University of Science and Technology                        -
              Hue University                                                    -
              Ton Duc Thang University                                          -
              Viet Nam National University Ho Chi Minh City (...                -
              Vietnam National University, Hanoi                                -

[1503 rows x 14 columns]

### -------------------------------------------------------------------------------------

### Quyidagi kodda Birinchi index teskari sortlanadi ikkinchisi esa togri sortlanadi chunki biz ascending orqali belgiladik False bersak teskari tartiblaydi alfavit boyicha

In [106]:
name_loc_ind.sort_index(level=["Location Full", "Institution Name"], ascending=[False, True])

                                                                  2025 Rank  \
Location Full Institution Name
Vietnam       Duy Tan University                                        495
              Hanoi University of Science and Technology          1201-1400
              Hue University                                      1201-1400
              Ton Duc Thang University                              711-720
              Viet Nam National University Ho Chi Minh City (...    901-950
...                                                                     ...
Argentina     Universidad de Belgrano                               781-790
              Universidad de Buenos Aires (UBA)                          71
              Universidad de Palermo (UP)                           621-630
              Universidad de San Andrés - UdeSA                    951-1000
              Universidad del Salvador                            1201-1400

                                                                  2024 Rank  \
Location Full Institution Name
Vietnam       Duy Tan University                                        514
              Hanoi University of Science and Technology          1201-1400
              Hue University                                            NaN
              Ton Duc Thang University                              721-730
              Viet Nam National University Ho Chi Minh City (...   951-1000
...                                                                     ...
Argentina     Universidad de Belgrano                               761-770
              Universidad de Buenos Aires (UBA)                          95
              Universidad de Palermo (UP)                               530
              Universidad de San Andrés - UdeSA                     801-850
              Universidad del Salvador                            1201-1400

                                                                 Location  \
Location Full Institution Name
Vietnam       Duy Tan University                                       VN
              Hanoi University of Science and Technology               VN
              Hue University                                           VN
              Ton Duc Thang University                                 VN
              Viet Nam National University Ho Chi Minh City (...       VN
...                                                                   ...
Argentina     Universidad de Belgrano                                  AR
              Universidad de Buenos Aires (UBA)                        AR
              Universidad de Palermo (UP)                              AR
              Universidad de San Andrés - UdeSA                        AR
              Universidad del Salvador                                 AR

                                                                 Size  \
Location Full Institution Name
Vietnam       Duy Tan University                                    L
              Hanoi University of Science and Technology           XL
              Hue University                                       XL
              Ton Duc Thang University                              L
              Viet Nam National University Ho Chi Minh City (...   XL
...                                                               ...
Argentina     Universidad de Belgrano                               M
              Universidad de Buenos Aires (UBA)                    XL
              Universidad de Palermo (UP)                           S
              Universidad de San Andrés - UdeSA                     S
              Universidad del Salvador                              M

                                                                  Academic Reputation  \
Location Full Institution Name
Vietnam       Duy Tan University                                                 11.9
              Hanoi University of Science and Technology                          7.3
              Hue University                                                      4.6
              Ton Duc Thang University                                            5.0
              Viet Nam National University Ho Chi Minh City (...                 18.8
...                                                                               ...
Argentina     Universidad de Belgrano                                             9.4
              Universidad de Buenos Aires (UBA)                                  94.1
              Universidad de Palermo (UP)                                        10.2
              Universidad de San Andrés - UdeSA                                   7.7
              Universidad del Salvador                                            3.7

                                                                  Employer Reputation  \
Location Full Institution Name
Vietnam       Duy Tan University                                                 25.3
              Hanoi University of Science and Technology                          7.3
              Hue University                                                     12.9
              Ton Duc Thang University                                            6.4
              Viet Nam National University Ho Chi Minh City (...                 24.6
...                                                                               ...
Argentina     Universidad de Belgrano                                            12.7
              Universidad de Buenos Aires (UBA)                                  94.1
              Universidad de Palermo (UP)                                         9.8
              Universidad de San Andrés - UdeSA                                  19.7
              Universidad del Salvador                                            5.8

                                                                  Faculty Student  \
Location Full Institution Name
Vietnam       Duy Tan University                                              3.9
              Hanoi University of Science and Technology                      2.4
              Hue University                                                  3.0
              Ton Duc Thang University                                        5.2
              Viet Nam National University Ho Chi Minh City (...              5.7
...                                                                           ...
Argentina     Universidad de Belgrano                                        86.6
              Universidad de Buenos Aires (UBA)                              71.7
              Universidad de Palermo (UP)                                    92.8
              Universidad de San Andrés - UdeSA                              46.0
              Universidad del Salvador                                       19.9

                                                                  Citations per Faculty  \
Location Full Institution Name
Vietnam       Duy Tan University                                                   49.0
              Hanoi University of Science and Technology                            4.7
              Hue University                                                        1.6
              Ton Duc Thang University                                             51.7
              Viet Nam National University Ho Chi Minh City (...                    2.1
...                                                                                 ...
Argentina     Universidad de Belgrano                                               1.0
              Universidad de Buenos Aires (UBA)                                     1.6
              Universidad de Palermo (UP)                                           1.0
              Universidad de San Andrés - UdeSA                                     2.2
              Universidad del Salvador                                              1.0

                                                                  International Faculty  \
Location Full Institution Name
Vietnam       Duy Tan University                                                   37.7
              Hanoi University of Science and Technology                            4.2
              Hue University                                                        4.8
              Ton Duc Thang University                                              9.9
              Viet Nam National University Ho Chi Minh City (...                    4.2
...                                                                                 ...
Argentina     Universidad de Belgrano                                               5.4
              Universidad de Buenos Aires (UBA)                                    63.9
              Universidad de Palermo (UP)                                          35.6
              Universidad de San Andrés - UdeSA                                     7.5
              Universidad del Salvador                                              4.9

                                                                  International Students  \
Location Full Institution Name
Vietnam       Duy Tan University                                                     1.4
              Hanoi University of Science and Technology                             1.2
              Hue University                                                         1.4
              Ton Duc Thang University                                               1.4
              Viet Nam National University Ho Chi Minh City (...                     1.1
...                                                                                  ...
Argentina     Universidad de Belgrano                                               24.1
              Universidad de Buenos Aires (UBA)                                     64.6
              Universidad de Palermo (UP)                                           91.9
              Universidad de San Andrés - UdeSA                                      4.1
              Universidad del Salvador                                               7.4

                                                                  International Research Network  \
Location Full Institution Name
Vietnam       Duy Tan University                                                            83.5
              Hanoi University of Science and Technology                                    23.1
              Hue University                                                                41.6
              Ton Duc Thang University                                                      90.7
              Viet Nam National University Ho Chi Minh City (...                            45.7
...                                                                                          ...
Argentina     Universidad de Belgrano                                                        2.5
              Universidad de Buenos Aires (UBA)                                             73.4
              Universidad de Palermo (UP)                                                    2.6
              Universidad de San Andrés - UdeSA                                             13.2
              Universidad del Salvador                                                       1.2

                                                                  Employment Outcomes  \
Location Full Institution Name
Vietnam       Duy Tan University                                                  4.4
              Hanoi University of Science and Technology                         23.1
              Hue University                                                      4.5
              Ton Duc Thang University                                            4.7
              Viet Nam National University Ho Chi Minh City (...                 24.9
...                                                                               ...
Argentina     Universidad de Belgrano                                            37.4
              Universidad de Buenos Aires (UBA)                                  99.8
              Universidad de Palermo (UP)                                         7.8
              Universidad de San Andrés - UdeSA                                  29.8
              Universidad del Salvador                                           16.2

                                                                  Sustainability  \
Location Full Institution Name
Vietnam       Duy Tan University                                            29.0
              Hanoi University of Science and Technology                     3.4
              Hue University                                                 1.1
              Ton Duc Thang University                                       3.8
              Viet Nam National University Ho Chi Minh City (...             4.6
...                                                                          ...
Argentina     Universidad de Belgrano                                        NaN
              Universidad de Buenos Aires (UBA)                             51.8
              Universidad de Palermo (UP)                                    NaN
              Universidad de San Andrés - UdeSA                              NaN
              Universidad del Salvador                                       NaN

                                                                 QS Overall Score
Location Full Institution Name
Vietnam       Duy Tan University                                             24.4
              Hanoi University of Science and Technology                        -
              Hue University                                                    -
              Ton Duc Thang University                                          -
              Viet Nam National University Ho Chi Minh City (...                -
...                                                                           ...
Argentina     Universidad de Belgrano                                           -
              Universidad de Buenos Aires (UBA)                              67.6
              Universidad de Palermo (UP)                                       -
              Universidad de San Andrés - UdeSA                                 -
              Universidad del Salvador                                          -

[1503 rows x 14 columns]

### -------------------------------------------------------------------------------------

### Yuqoridagi kodga qo'shimcha ravishda qirqish amalidan foydalandik ya'ni [2:8] bu index 2dan boshlab 8chi indexgacha qirqib yangi dataframe chiqarib beradi.

In [55]:
name_loc_ind.sort_index(level=["Location Full", "Institution Name"], ascending=[False, True])[2:8]

                                                                  2025 Rank  \
Location Full Institution Name
Vietnam       Hue University                                      1201-1400
              Ton Duc Thang University                              711-720
              Viet Nam National University Ho Chi Minh City (...    901-950
              Vietnam National University, Hanoi                    851-900
Venezuela     Universidad Católica Andres Bello                     741-750
              Universidad Central de Venezuela                      691-700

                                                                 2024 Rank  \
Location Full Institution Name
Vietnam       Hue University                                           NaN
              Ton Duc Thang University                             721-730
              Viet Nam National University Ho Chi Minh City (...  951-1000
              Vietnam National University, Hanoi                  951-1000
Venezuela     Universidad Católica Andres Bello                        582
              Universidad Central de Venezuela                     631-640

                                                                 Location  \
Location Full Institution Name
Vietnam       Hue University                                           VN
              Ton Duc Thang University                                 VN
              Viet Nam National University Ho Chi Minh City (...       VN
              Vietnam National University, Hanoi                       VN
Venezuela     Universidad Católica Andres Bello                        VE
              Universidad Central de Venezuela                         VE

                                                                 Size  \
Location Full Institution Name
Vietnam       Hue University                                       XL
              Ton Duc Thang University                              L
              Viet Nam National University Ho Chi Minh City (...   XL
              Vietnam National University, Hanoi                   XL
Venezuela     Universidad Católica Andres Bello                     M
              Universidad Central de Venezuela                      L

                                                                  Academic Reputation  \
Location Full Institution Name
Vietnam       Hue University                                                      4.6
              Ton Duc Thang University                                            5.0
              Viet Nam National University Ho Chi Minh City (...                 18.8
              Vietnam National University, Hanoi                                 15.3
Venezuela     Universidad Católica Andres Bello                                  28.4
              Universidad Central de Venezuela                                   21.0

                                                                  Employer Reputation  \
Location Full Institution Name
Vietnam       Hue University                                                     12.9
              Ton Duc Thang University                                            6.4
              Viet Nam National University Ho Chi Minh City (...                 24.6
              Vietnam National University, Hanoi                                 18.7
Venezuela     Universidad Católica Andres Bello                                  50.8
              Universidad Central de Venezuela                                   40.6

                                                                  Faculty Student  \
Location Full Institution Name
Vietnam       Hue University                                                  3.0
              Ton Duc Thang University                                        5.2
              Viet Nam National University Ho Chi Minh City (...              5.7
              Vietnam National University, Hanoi                              7.6
Venezuela     Universidad Católica Andres Bello                               4.3
              Universidad Central de Venezuela                               27.1

                                                                  Citations per Faculty  \
Location Full Institution Name
Vietnam       Hue University                                                        1.6
              Ton Duc Thang University                                             51.7
              Viet Nam National University Ho Chi Minh City (...                    2.1
              Vietnam National University, Hanoi                                    2.4
Venezuela     Universidad Católica Andres Bello                                     1.0
              Universidad Central de Venezuela                                      1.1

                                                                  International Faculty  \
Location Full Institution Name
Vietnam       Hue University                                                        4.8
              Ton Duc Thang University                                              9.9
              Viet Nam National University Ho Chi Minh City (...                    4.2
              Vietnam National University, Hanoi                                    5.5
Venezuela     Universidad Católica Andres Bello                                     3.5
              Universidad Central de Venezuela                                      2.6

                                                                  International Students  \
Location Full Institution Name
Vietnam       Hue University                                                         1.4
              Ton Duc Thang University                                               1.4
              Viet Nam National University Ho Chi Minh City (...                     1.1
              Vietnam National University, Hanoi                                     1.2
Venezuela     Universidad Católica Andres Bello                                      2.7
              Universidad Central de Venezuela                                       1.4

                                                                  International Research Network  \
Location Full Institution Name
Vietnam       Hue University                                                                41.6
              Ton Duc Thang University                                                      90.7
              Viet Nam National University Ho Chi Minh City (...                            45.7
              Vietnam National University, Hanoi                                            61.0
Venezuela     Universidad Católica Andres Bello                                              NaN
              Universidad Central de Venezuela                                              21.5

                                                                  Employment Outcomes  \
Location Full Institution Name
Vietnam       Hue University                                                      4.5
              Ton Duc Thang University                                            4.7
              Viet Nam National University Ho Chi Minh City (...                 24.9
              Vietnam National University, Hanoi                                 60.1
Venezuela     Universidad Católica Andres Bello                                  18.9
              Universidad Central de Venezuela                                   51.4

                                                                  Sustainability  \
Location Full Institution Name
Vietnam       Hue University                                                 1.1
              Ton Duc Thang University                                       3.8
              Viet Nam National University Ho Chi Minh City (...             4.6
              Vietnam National University, Hanoi                             6.4
Venezuela     Universidad Católica Andres Bello                              NaN
              Universidad Central de Venezuela                               1.0

                                                                 QS Overall Score
Location Full Institution Name
Vietnam       Hue University                                                    -
              Ton Duc Thang University                                          -
              Viet Nam National University Ho Chi Minh City (...                -
              Vietnam National University, Hanoi                                -
Venezuela     Universidad Católica Andres Bello                                 -
              Universidad Central de Venezuela                                  -

### -------------------------------------------------------------------------------------

### Bu kodda location va univer nomlarini index sifatida oldik u columlar dataframedan olib tashlanadi va indexlarni sortlavordik, avval Location keyin univer nomlari sortlanadi, keyin esa qirqish amalidan foydalanib Austriadan bahraingacha bolganlarini chiqardik

In [107]:
loc_srt = df.set_index(["Location Full", "Institution Name"]).sort_index()
loc_srt["Austria":"Bahrain"]

                                                            2025 Rank  \
Location Full Institution Name
Austria       Graz University of Technology                       413
              Johannes Kepler University Linz                     472
              Karl-Franzens-Universitaet Graz                 671-680
              Paris Lodron University of Salzburg             601-610
              Technische Universität Wien                         190
              University of Klagenfurt                        611-620
              University of Vienna                                137
              Universität Innsbruck                               309
Azerbaijan    Azerbaijan State Oil and Industry University  1001-1200
              Azerbaijan State University of Economics      1001-1200
              Baku State University                          951-1000
Bahrain       Ahlia University                                711-720
              Applied Science University - Bahrain                539
              University of Bahrain                          951-1000

                                                            2024 Rank  \
Location Full Institution Name
Austria       Graz University of Technology                       421
              Johannes Kepler University Linz                     446
              Karl-Franzens-Universitaet Graz                 661-670
              Paris Lodron University of Salzburg             681-690
              Technische Universität Wien                         184
              University of Klagenfurt                            580
              University of Vienna                                130
              Universität Innsbruck                               362
Azerbaijan    Azerbaijan State Oil and Industry University  1201-1400
              Azerbaijan State University of Economics      1001-1200
              Baku State University                         1001-1200
Bahrain       Ahlia University                                751-760
              Applied Science University - Bahrain                582
              University of Bahrain                          951-1000

                                                           Location Size  \
Location Full Institution Name
Austria       Graz University of Technology                      AT    M
              Johannes Kepler University Linz                    AT    M
              Karl-Franzens-Universitaet Graz                    AT    L
              Paris Lodron University of Salzburg                AT    M
              Technische Universität Wien                        AT    M
              University of Klagenfurt                           AT    S
              University of Vienna                               AT   XL
              Universität Innsbruck                              AT    L
Azerbaijan    Azerbaijan State Oil and Industry University       AZ    L
              Azerbaijan State University of Economics           AZ    L
              Baku State University                              AZ    L
Bahrain       Ahlia University                                   BH    S
              Applied Science University - Bahrain               BH    S
              University of Bahrain                              BH    L

                                                            Academic Reputation  \
Location Full Institution Name
Austria       Graz University of Technology                                14.7
              Johannes Kepler University Linz                              12.8
              Karl-Franzens-Universitaet Graz                              19.9
              Paris Lodron University of Salzburg                           9.7
              Technische Universität Wien                                  33.9
              University of Klagenfurt                                      5.7
              University of Vienna                                         70.9
              Universität Innsbruck                                        20.3
Azerbaijan    Azerbaijan State Oil and Industry University                  7.3
              Azerbaijan State University of Economics                     13.0
              Baku State University                                        12.9
Bahrain       Ahlia University                                             16.7
              Applied Science University - Bahrain                         23.5
              University of Bahrain                                         9.7

                                                            Employer Reputation  \
Location Full Institution Name
Austria       Graz University of Technology                                15.7
              Johannes Kepler University Linz                              12.3
              Karl-Franzens-Universitaet Graz                              10.9
              Paris Lodron University of Salzburg                           2.9
              Technische Universität Wien                                  50.4
              University of Klagenfurt                                      3.7
              University of Vienna                                         40.4
              Universität Innsbruck                                         7.8
Azerbaijan    Azerbaijan State Oil and Industry University                  5.3
              Azerbaijan State University of Economics                     14.5
              Baku State University                                         5.5
Bahrain       Ahlia University                                              8.4
              Applied Science University - Bahrain                         25.0
              University of Bahrain                                         5.1

                                                            Faculty Student  \
Location Full Institution Name
Austria       Graz University of Technology                            98.9
              Johannes Kepler University Linz                          75.9
              Karl-Franzens-Universitaet Graz                          11.7
              Paris Lodron University of Salzburg                      20.8
              Technische Universität Wien                              12.5
              University of Klagenfurt                                 51.3
              University of Vienna                                     23.2
              Universität Innsbruck                                    73.1
Azerbaijan    Azerbaijan State Oil and Industry University             29.9
              Azerbaijan State University of Economics                 26.1
              Baku State University                                    41.7
Bahrain       Ahlia University                                         31.7
              Applied Science University - Bahrain                     39.3
              University of Bahrain                                     7.0

                                                            Citations per Faculty  \
Location Full Institution Name
Austria       Graz University of Technology                                  11.1
              Johannes Kepler University Linz                                14.3
              Karl-Franzens-Universitaet Graz                                10.7
              Paris Lodron University of Salzburg                             6.8
              Technische Universität Wien                                    73.8
              University of Klagenfurt                                       11.3
              University of Vienna                                           13.0
              Universität Innsbruck                                           9.3
Azerbaijan    Azerbaijan State Oil and Industry University                    1.1
              Azerbaijan State University of Economics                        1.2
              Baku State University                                           1.4
Bahrain       Ahlia University                                                3.8
              Applied Science University - Bahrain                            2.0
              University of Bahrain                                           2.2

                                                            International Faculty  \
Location Full Institution Name
Austria       Graz University of Technology                                  81.8
              Johannes Kepler University Linz                                83.5
              Karl-Franzens-Universitaet Graz                                45.4
              Paris Lodron University of Salzburg                            96.1
              Technische Universität Wien                                    85.5
              University of Klagenfurt                                       96.0
              University of Vienna                                          100.0
              Universität Innsbruck                                         100.0
Azerbaijan    Azerbaijan State Oil and Industry University                   17.4
              Azerbaijan State University of Economics                       14.2
              Baku State University                                           5.3
Bahrain       Ahlia University                                              100.0
              Applied Science University - Bahrain                          100.0
              University of Bahrain                                          87.0

                                                            International Students  \
Location Full Institution Name
Austria       Graz University of Technology                                   59.7
              Johannes Kepler University Linz                                 33.5
              Karl-Franzens-Universitaet Graz                                 26.1
              Paris Lodron University of Salzburg                             93.7
              Technische Universität Wien                                     90.4
              University of Klagenfurt                                        87.8
              University of Vienna                                            92.0
              Universität Innsbruck                                          100.0
Azerbaijan    Azerbaijan State Oil and Industry University                     2.6
              Azerbaijan State University of Economics                         3.4
              Baku State University                                            2.2
Bahrain       Ahlia University                                                42.7
              Applied Science University - Bahrain                            46.8
              University of Bahrain                                            8.9

                                                            International Research Network  \
Location Full Institution Name
Austria       Graz University of Technology                                           59.9
              Johannes Kepler University Linz                                         59.7
              Karl-Franzens-Universitaet Graz                                         63.9
              Paris Lodron University of Salzburg                                     55.5
              Technische Universität Wien                                             71.6
              University of Klagenfurt                                                35.6
              University of Vienna                                                    96.0
              Universität Innsbruck                                                   71.5
Azerbaijan    Azerbaijan State Oil and Industry University                             6.6
              Azerbaijan State University of Economics                                 4.6
              Baku State University                                                   16.7
Bahrain       Ahlia University                                                         9.3
              Applied Science University - Bahrain                                    13.3
              University of Bahrain                                                   36.2

                                                            Employment Outcomes  \
Location Full Institution Name
Austria       Graz University of Technology                                11.9
              Johannes Kepler University Linz                              12.2
              Karl-Franzens-Universitaet Graz                              31.9
              Paris Lodron University of Salzburg                          15.7
              Technische Universität Wien                                  19.1
              University of Klagenfurt                                      9.2
              University of Vienna                                         89.7
              Universität Innsbruck                                        55.8
Azerbaijan    Azerbaijan State Oil and Industry University                 31.4
              Azerbaijan State University of Economics                     38.6
              Baku State University                                        47.7
Bahrain       Ahlia University                                             12.7
              Applied Science University - Bahrain                         11.3
              University of Bahrain                                        36.3

                                                            Sustainability  \
Location Full Institution Name
Austria       Graz University of Technology                            2.8
              Johannes Kepler University Linz                         13.2
              Karl-Franzens-Universitaet Graz                         12.3
              Paris Lodron University of Salzburg                     39.5
              Technische Universität Wien                             11.3
              University of Klagenfurt                                 1.6
              University of Vienna                                    60.9
              Universität Innsbruck                                   61.6
Azerbaijan    Azerbaijan State Oil and Industry University             NaN
              Azerbaijan State University of Economics                 1.9
              Baku State University                                    1.3
Bahrain       Ahlia University                                         2.5
              Applied Science University - Bahrain                     1.7
              University of Bahrain                                    1.1

                                                           QS Overall Score
Location Full Institution Name
Austria       Graz University of Technology                            28.8
              Johannes Kepler University Linz                          25.3
              Karl-Franzens-Universitaet Graz                             -
              Paris Lodron University of Salzburg                         -
              Technische Universität Wien                              47.2
              University of Klagenfurt                                    -
              University of Vienna                                     53.9
              Universität Innsbruck                                    35.2
Azerbaijan    Azerbaijan State Oil and Industry University                -
              Azerbaijan State University of Economics                    -
              Baku State University                                       -
Bahrain       Ahlia University                                            -
              Applied Science University - Bahrain                     22.8
              University of Bahrain                                       -

### -------------------------------------------------------------------------------------

### Quyidagi kodda Univer nomlari hamda Sizeni sortladik va United Statesni faqat Size L bolganlaridan boshlab O'zbekiston univerlarini size L bo'lganlarigacha chiqaradi

In [77]:
name_size_srt = name_size_ind.sort_index()
name_size_srt.loc[("United States", "L"):("Uzbekistan", "L")]

                   2025 Rank 2024 Rank  \
Location Full Size
United States L            4         4
              L            6         5
              L           11        12
              L           16        13
              L           21        11
...                      ...       ...
Uruguay       S      741-750   651-660
              S      851-900   771-780
              S      901-950   851-900
              XL     661-670   801-850
Uzbekistan    L      781-790       NaN

                                          Institution Name Location  \
Location Full Size
United States L                         Harvard University       US
              L                        Stanford University       US
              L                 University of Pennsylvania       US
              L                         Cornell University       US
              L                      University of Chicago       US
...                                                    ...      ...
Uruguay       S             Universidad de Montevideo (UM)       UY
              S                    Universidad ORT Uruguay       UY
              S     Universidad Católica del Uruguay (UCU)       UY
              XL      Universidad de la República (Udelar)       UY
Uzbekistan    L          National University of Uzbekistan       UZ

                    Academic Reputation  Employer Reputation  Faculty Student  \
Location Full Size
United States L                   100.0                100.0             96.3
              L                   100.0                100.0            100.0
              L                    96.3                 91.9             99.8
              L                    98.3                 93.1             52.7
              L                    99.1                 96.4             94.2
...                                 ...                  ...              ...
Uruguay       S                    18.6                 16.1             79.7
              S                    11.2                 12.4             79.0
              S                    12.5                 12.8             64.4
              XL                   27.1                 13.7             14.2
Uzbekistan    L                    25.5                 15.8              5.2

                    Citations per Faculty  International Faculty  \
Location Full Size
United States L                     100.0                   74.1
              L                      99.0                   70.3
              L                      74.0                   90.9
              L                      97.5                   54.2
              L                      60.8                   79.0
...                                   ...                    ...
Uruguay       S                       1.1                   21.5
              S                       1.1                   15.8
              S                       1.2                    9.5
              XL                      1.6                    7.9
Uzbekistan    L                       1.3                   89.0

                    International Students  International Research Network  \
Location Full Size
United States L                       69.0                            99.6
              L                       60.8                            96.8
              L                       66.2                            91.9
              L                       63.4                            94.0
              L                       87.0                            85.1
...                                    ...                             ...
Uruguay       S                        3.1                             3.0
              S                        1.9                             3.4
              S                        2.8                             6.4
              XL                       2.3                            62.4
Uzbekistan    L                        2.5                            11.8

                    Employment Outcomes  Sustainability QS Overall Score
Location Full Size
United States L                   100.0            84.4             96.8
              L                   100.0            81.2             96.1
              L                   100.0            93.0             90.3
              L                    97.1            72.1             87.9
              L                    99.1            46.9             86.2
...                                 ...             ...              ...
Uruguay       S                     6.5             NaN                -
              S                     5.7             1.0                -
              S                    15.1             1.0                -
              XL                   87.7             2.6                -
Uzbekistan    L                    20.4             1.4                -

[202 rows x 14 columns]

### -------------------------------------------------------------------------------------

### bu kodda esa columnlarni Univer nomidan boshlab Faculty Student columngacha qirqib oldik va chiqardik

In [81]:
name_size_srt.loc[:, "Institution Name":"Faculty Student"]

                                                     Institution Name  \
Location Full Size
Argentina     L             Pontificia Universidad Católica Argentina
              L                      Universidad Nacional de San Luis
              L     Universidad Nacional del Centro de la Provinci...
              L                 Universidad Nacional de Mar del Plata
              L             Universidad Nacional de Río Cuarto - UNRC
...                                                               ...
Vietnam       L                              Ton Duc Thang University
              XL                  Vietnam National University, Hanoi
              XL    Viet Nam National University Ho Chi Minh City ...
              XL           Hanoi University of Science and Technology
              XL                                       Hue University

                   Location  Academic Reputation  Employer Reputation  \
Location Full Size
Argentina     L          AR                 19.9                 29.4
              L          AR                  3.8                  1.4
              L          AR                  5.5                  2.5
              L          AR                  8.6                  2.8
              L          AR                  4.1                  1.6
...                     ...                  ...                  ...
Vietnam       L          VN                  5.0                  6.4
              XL         VN                 15.3                 18.7
              XL         VN                 18.8                 24.6
              XL         VN                  7.3                  7.3
              XL         VN                  4.6                 12.9

                    Faculty Student
Location Full Size
Argentina     L                99.9
              L                73.8
              L                76.8
              L                 4.9
              L                33.2
...                             ...
Vietnam       L                 5.2
              XL                7.6
              XL                5.7
              XL                2.4
              XL                3.0

[1503 rows x 5 columns]

### -------------------------------------------------------------------------------------

### Bu kodda yuqoridagi ikkita kodni birlashitirilgani ya'ni Location United States va Size L bo'ganlaridan boshlab Unzbekistan size L bo'lganlarigacha bo'ladi , columnlar esa "Institution Name":"Faculty Student" -- Institution Name dan "Faculty Student" gacha chiqadi

In [82]:
name_size_srt.loc[("United States", "L"):("Uzbekistan", "L"), "Institution Name":"Faculty Student"]

                                          Institution Name Location  \
Location Full Size
United States L                         Harvard University       US
              L                        Stanford University       US
              L                 University of Pennsylvania       US
              L                         Cornell University       US
              L                      University of Chicago       US
...                                                    ...      ...
Uruguay       S             Universidad de Montevideo (UM)       UY
              S                    Universidad ORT Uruguay       UY
              S     Universidad Católica del Uruguay (UCU)       UY
              XL      Universidad de la República (Udelar)       UY
Uzbekistan    L          National University of Uzbekistan       UZ

                    Academic Reputation  Employer Reputation  Faculty Student
Location Full Size
United States L                   100.0                100.0             96.3
              L                   100.0                100.0            100.0
              L                    96.3                 91.9             99.8
              L                    98.3                 93.1             52.7
              L                    99.1                 96.4             94.2
...                                 ...                  ...              ...
Uruguay       S                    18.6                 16.1             79.7
              S                    11.2                 12.4             79.0
              S                    12.5                 12.8             64.4
              XL                   27.1                 13.7             14.2
Uzbekistan    L                    25.5                 15.8              5.2

[202 rows x 5 columns]

### -------------------------------------------------------------------------------------

### iloc[2:5, 1:6] orqali DataFrame da 2-qatoridan 4-qatoriga indeks 2 dan 4 gacha va 1-ustundan 5-ustunga indeks 1 dan 5 gacha bo'lgan ma'lumotlar olinadi xolos

In [85]:
df.iloc[2:5,1:6]

  2024 Rank         Institution Name Location   Location Full Size
2         3     University of Oxford       UK  United Kingdom    L
3         4       Harvard University       US   United States    L
4         2  University of Cambridge       UK  United Kingdom    L

### -------------------------------------------------------------------------------------

### "df" DataFrame dan pivot_table yordamida "Institution Name" ustunini indeks sifatida va "Size" ustunini ustunlar sifatida oladi "International Students" ustunini qiymat sifatida boladi keyin  intern_students_by_size_vs_name nomli yangi DataFrame yaratildi

In [97]:
intern_students_by_size_vs_name = df.pivot_table("International Students", index="Institution Name", columns="Size")
intern_students_by_size_vs_name

Size                                             L     M     S    XL
Institution Name
 Don State Technical University               14.9   NaN   NaN   NaN
 University of Dundee                         89.4   NaN   NaN   NaN
 Western Sydney University                     NaN   NaN   NaN  45.5
AGH University of Science and Technology       5.3   NaN   NaN   NaN
Aalborg University                            14.9   NaN   NaN   NaN
...                                            ...   ...   ...   ...
Zhejiang University                            NaN   NaN   NaN  15.9
Zhengzhou University                           NaN   NaN   NaN   2.4
Zurich University of Applied Sciences (ZHAW)   NaN  12.8   NaN   NaN
École Normale Supérieure de Lyon               NaN   NaN  11.7   NaN
Óbuda University                               NaN   7.6   NaN   NaN

[1445 rows x 4 columns]

### -------------------------------------------------------------------------------------

### intern_students_by_size_vs_name DataFrame da indeksningiz bo'yicha "Aalborg University" dan "University of Dundee" gacha bo'lgan qatorlarni chiqaradi

In [99]:
intern_students_by_size_vs_name.loc["Aalborg University":"University of Dundee"]

Size                                            L     M     S   XL
Institution Name
Aalborg University                           14.9   NaN   NaN  NaN
Aalto University                             40.1   NaN   NaN  NaN
Aarhus University                            11.9   NaN   NaN  NaN
Abai Kazakh National Pedagogical University   3.7   NaN   NaN  NaN
Aberystwyth University                        NaN  46.5   NaN  NaN
...                                           ...   ...   ...  ...
University of Denver                          NaN   5.8   NaN  NaN
University of Derby                          45.5   NaN   NaN  NaN
University of Deusto                          NaN  14.5   NaN  NaN
University of Dhaka                           NaN   NaN   NaN  1.0
University of Dubai                           NaN   NaN  72.0  NaN

[1100 rows x 4 columns]

### -------------------------------------------------------------------------------------

### Qaysi davlatda eng ko'p universitetlar joylashgan ?

In [117]:
group = df["Location Full"].value_counts()
group.idxmax()

'United States'